/* 
=== Two-column layout for archives page === 
*/
@media (min-width: 1024px) {
    .article-list--compact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        box-shadow: none;
        gap: 1rem;

        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 16px;
        }
    }
}


/* 
=== 한글 지원 코딩 폰트 ===
*/
@font-face {
    font-family: "CodexMono-KR-Hermes";
    src: url("/fonts/CodexMono-KR-Hermes.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

:root {
    --code-font-family: "CodexMono-KR-Hermes", monospace;
}


.chroma .lnt {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.category {
    .category-label {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        a {
            border-left: 6px solid;
            background: var(--card-background);
            box-shadow: var(--shadow-l1);
            border-radius: var(--category-border-radius);
            padding: 8px 15px;
            color: var(--card-text-color-main);
            font-size: 1.2rem;
            transition: box-shadow 0.3s ease, border-left-color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }

    .category-count {
        margin-left: 10px;
        color: var(--body-text-color);
        font-size: 1.1rem;
        background: var(--body-background);
        padding: 2px 6px;
        border-radius: 4px;
        opacity: 0.8;
    }
}

/* 표준 속성 (파이어폭스 대응) */
* {
    scrollbar-width: thin;
    // scrollbar-color: [핸들색] [트랙색];
    scrollbar-color: #888 transparent;
}

/* WebKit 기반 (크롬, 사파리, 엣지) */
::-webkit-scrollbar {
    width: 10px;
    /* 조금 더 여유 있는 너비 */
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid transparent;
    /* 트랙과의 여백을 주기 위해 border 활용 */
    background-clip: padding-box;
    /* border와 간격을 띄움 */
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* 클릭 시 피드백 추가 */
::-webkit-scrollbar-thumb:active {
    background: #444;
}

/* 다크 모드 대응 전용 설정 */
html[data-scheme="dark"] {
    * {
        scrollbar-color: #555 transparent;
    }

    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05);
    }

    ::-webkit-scrollbar-thumb {
        background: #555;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #777;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #999;
    }
}